.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input label{
    font-weight: bold;
    margin-right: 0.25rem;
}

.input input{
    width: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 0.24rem;
}